{% extends "base.html" %}

{% block title %}Reportes{% endblock %}
{% block header %}Reporte de Meriendas Entregadas{% endblock %}

{% block content %}
<div class="bg-white p-6 rounded-lg shadow-md overflow-x-auto">
    <table class="w-full whitespace-nowrap">
        <thead>
            <tr class="text-left font-bold">
                <th class="pb-4 pt-6 px-6">ID Registro</th>
                <th class="pb-4 pt-6 px-6">Fecha y Hora</th>
                <th class="pb-4 pt-6 px-6">Participante</th>
                <th class="pb-4 pt-6 px-6">Comité</th>
                <th class="pb-4 pt-6 px-6">País</th>
                <th class="pb-4 pt-6 px-6">Institución</th>
                <th class="pb-4 pt-6 px-6">Operador</th>
            </tr>
        </thead>
        <tbody>
            {% for r in registros %}
            <tr class="hover:bg-gray-100">
                <td class="border-t py-4 px-6">{{ r.id_registro }}</td>
                <td class="border-t py-4 px-6">{{ r.fecha_hora | to_local_time }}</td>
                <td class="border-t py-4 px-6">{{ r.participante.nombre_participante }}</td>
                <td class="border-t py-4 px-6">{{ r.participante.committe.nombre_committe }}</td>
                <td class="border-t py-4 px-6">{{ r.participante.pais.nombre_pais }}</td>
                <td class="border-t py-4 px-6">{{ r.participante.institucion.nombre_institucion }}</td>
                <td class="border-t py-4 px-6">{{ r.operador.username }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7" class="text-center py-10">Aún no hay registros de entrega.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}